@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.container {
  background-color: #010116;
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}

/* @media (max-width: 540px) {
  .menu {
    display: block;
  }
} */